# POSTTEST 4

## Nama : Muhammad Ifandi

## Nim : 2209106006

## Kelas : Kecerdasan Buatan A1

In [176]:
import pandas as pd
import numpy as np

### Pandas -> Berfungsi untuk import/memasukkan Library pandas di dalam program sebagai pd
### Numpy -> Berfungsi untuk import/memasukkan Library numpy di dalam program sebagai np

In [177]:
df = pd.read_csv('nintendo3ds.csv')
df2 = pd.read_csv('nintendo3ds.csv')
df

,Unnamed: 0,slug,playtime,released,rating,rating_top,ratings_count,reviews_text_count,added,metacritic,...,updated,tags,reviews_count,genres,yet,owned,beaten,toplay,dropped,playing
0,0,terraria,12,5/16/2011,4.41,4,1384,6,7304,81.0,...,2020-12-07T19:51:06,"Singleplayer, Steam Achievements",1395,"Platformer, Indie",237,5518,603,94,729,123
1,1,lego-lord-of-the-rings,3,9/28/2012,3.40,4,409,1,3640,80.0,...,2019-10-23T14:56:48,"Singleplayer, Для одного игрока",410,"Casual, Platformer",265,3000,205,29,115,26
2,2,minecraft,26,5/10/2009,4.41,5,1339,8,3640,83.0,...,2020-09-08T16:50:31,"Multiplayer, Sandbox",1359,"Action, Arcade",38,2049,689,48,434,382
3,3,the-binding-of-isaac-rebirth,35,11/4/2014,4.31,5,726,5,3297,86.0,...,2019-12-29T20:04:49,"Singleplayer, Для одного игрока",732,"Action, RPG",74,2464,380,63,225,91
4,4,lego-the-hobbit,2,4/8/2014,3.40,4,289,0,3194,70.0,...,2019-10-23T14:56:45,"Singleplayer, Для одного игрока",289,"Family, Adventure",285,2665,132,24,75,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1681,1675,vacation-adventures-park-ranger-2,0,3/20/2014,0.00,0,0,0,0,NaN,...,2019-08-28T22:06:51,"Singleplayer, Приключение",0,"Adventure, Puzzle",0,0,0,0,0,0
1682,1676,van-helsing-sniper-zx100,0,6/12/2014,0.00,0,0,0,0,NaN,...,2019-01-09T12:41:06,NaN,0,NaN,0,0,0,0,0,0
1683,1677,gummy-bears-mini-golf,0,10/15/2010,0.00,0,0,0,0,NaN,...,2019-01-09T12:41:06,"Golf, Multiplayer",0,NaN,0,0,0,0,0,0
1684,1678,music-on-electric-guitar,0,11/22/2010,0.00,0,0,0,0,NaN,...,2019-01-09T12:41:06,NaN,0,NaN,0,0,0,0,0,0
1685,1679,pixelmaker-studio,0,11/29/2018,0.00,0,0,0,0,NaN,...,2019-03-22T02:25:11,"Education, Practical",0,NaN,0,0,0,0,0,0

### berfungsi untuk membaca data csv dan memasukkannya ke dalam variabel df(dataframe)

## 1. Membagi dataset ke Train Set dan Test Set dengan proporsi 70:30

In [178]:
from sklearn.model_selection import train_test_split

### Digunakan untuk mengimpor fungsi train_test_split dari library scikit-learn (sklearn) dalam bahasa pemrograman Python

In [179]:
X = df[['slug', 'playtime', 'released', 'rating_top', 'ratings_count', 'reviews_text_count', 'added', 'metacritic', 'suggestions_count', 'updated', 'tags', 'reviews_count', 'genres', 'yet', 'owned', 'beaten', 'toplay', 'dropped', 'playing']]
y = df['rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=12)

In [180]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1180, 19)
(506, 19)
(1180,)
(506,)

## 2. Melakukan Normalisasi data pada salah satu attribute dengan menggunakan MInMaxScaler

In [181]:
from sklearn.preprocessing import MinMaxScaler

### Digunakan untuk mengimpor kelas MinMaxScaler dari library scikit-learn (sklearn) dalam bahasa pemrograman Python

In [182]:
mm = MinMaxScaler()
data = mm.fit_transform(df[['reviews_count']])

### Variabel mm berfungsi untuk menyimpan fungsi dari MinMaxScaler

### Variabel data berfungsi untuk menyimpan proses normalisasi dari kolom review_count

In [183]:
print(np.nanmax(data))
print(data)

1.0
[[1.        ]
 [0.29390681]
 [0.97419355]
 ...
 [0.        ]
 [0.        ]
 [0.        ]]

### nanmax -> Digunakan untuk menghitung nilai maksimum dari suatu array NumPy, mengabaikan nilai-nilai NaN (Not-a-Number).

## 3. Melakukan Standarisai pada dataset

In [184]:
from sklearn.preprocessing import StandardScaler

### Digunakan untuk mengimpor kelas StandardScaler dari library scikit-learn (sklearn) dalam bahasa pemrograman Python

In [185]:
ss = StandardScaler()
data2 = ['Unnamed: 0', 'playtime', 'rating_top', 'ratings_count', 'reviews_text_count', 'added', 'metacritic', 'suggestions_count', 'reviews_count', 'yet', 'owned', 'beaten', 'toplay', 'dropped', 'playing']
df[data2] = ss.fit_transform(df[data2])

### Variabel ss berfungsi untuk menyimpan fungsi dari StandardScaler

### Variabel data2 berfungsi untuk menyimpan proses standarisasi

In [186]:
np.std(df[data2])

Unnamed: 0            1.0
playtime              1.0
rating_top            1.0
ratings_count         1.0
reviews_text_count    1.0
added                 1.0
metacritic            1.0
suggestions_count     1.0
reviews_count         1.0
yet                   1.0
owned                 1.0
beaten                1.0
toplay                1.0
dropped               1.0
playing               1.0
dtype: float64

### Fungsi np.std dalam library numpy digunakan untuk menghitung deviasi standar dari suatu array atau dataset

In [187]:
df

,Unnamed: 0,slug,playtime,released,rating,rating_top,ratings_count,reviews_text_count,added,metacritic,...,updated,tags,reviews_count,genres,yet,owned,beaten,toplay,dropped,playing
0,-1.719752,terraria,0.450887,5/16/2011,4.41,1.689909,17.464817,8.825241,20.161419,0.365986,...,2020-12-07T19:51:06,"Singleplayer, Steam Achievements",17.431751,"Platformer, Indie",12.736731,20.441469,10.294308,8.695692,25.117232,10.963520
1,-1.717697,lego-lord-of-the-rings,0.052415,9/28/2012,3.40,1.689909,4.979146,1.258441,9.929755,0.282299,...,2019-10-23T14:56:48,"Singleplayer, Для одного игрока",4.940426,"Casual, Platformer",14.271403,11.024146,3.316320,2.490671,3.762499,2.206904
2,-1.715641,minecraft,1.070732,5/10/2009,4.41,2.255000,16.888555,11.851961,9.929755,0.533361,...,2020-09-08T16:50:31,"Multiplayer, Sandbox",16.975215,"Action, Arcade",1.829592,7.467405,11.802115,4.304446,14.857222,34.344590
3,-1.713585,the-binding-of-isaac-rebirth,1.469204,11/4/2014,4.31,2.255000,9.038590,7.311881,8.971932,0.784424,...,2019-12-29T20:04:49,"Singleplayer, Для одного игрока",9.023884,"Action, RPG",3.802743,9.019505,6.384531,5.736374,7.588265,8.074740
4,-1.711530,lego-the-hobbit,0.008141,4/8/2014,3.40,1.689909,3.442448,-0.254919,8.684306,-0.554578,...,2019-10-23T14:56:45,"Singleplayer, Для одного игрока",3.405959,"Family, Adventure",15.367598,9.771245,2.036437,2.013362,2.371311,1.033337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1681,1.723322,vacation-adventures-park-ranger-2,-0.080409,3/20/2014,0.00,-0.570453,-0.258433,-0.254919,-0.234890,NaN,...,2019-08-28T22:06:51,"Singleplayer, Приключение",-0.259009,"Adventure, Puzzle",-0.253178,-0.195858,-0.277870,-0.277723,-0.237166,-0.140231
1682,1.725377,van-helsing-sniper-zx100,-0.080409,6/12/2014,0.00,-0.570453,-0.258433,-0.254919,-0.234890,NaN,...,2019-01-09T12:41:06,NaN,-0.259009,NaN,-0.253178,-0.195858,-0.277870,-0.277723,-0.237166,-0.140231
1683,1.727433,gummy-bears-mini-golf,-0.080409,10/15/2010,0.00,-0.570453,-0.258433,-0.254919,-0.234890,NaN,...,2019-01-09T12:41:06,"Golf, Multiplayer",-0.259009,NaN,-0.253178,-0.195858,-0.277870,-0.277723,-0.237166,-0.140231
1684,1.729489,music-on-electric-guitar,-0.080409,11/22/2010,0.00,-0.570453,-0.258433,-0.254919,-0.234890,NaN,...,2019-01-09T12:41:06,NaN,-0.259009,NaN,-0.253178,-0.195858,-0.277870,-0.277723,-0.237166,-0.140231
1685,1.731544,pixelmaker-studio,-0.080409,11/29/2018,0.00,-0.570453,-0.258433,-0.254919,-0.234890,NaN,...,2019-03-22T02:25:11,"Education, Practical",-0.259009,NaN,-0.253178,-0.195858,-0.277870,-0.277723,-0.237166,-0.140231

## 4. Melakukan Data Cleaning pada data dengan nilai null

In [188]:
df.isnull().sum()

Unnamed: 0               0
slug                     0
playtime                 0
released                38
rating                   0
rating_top               0
ratings_count            0
reviews_text_count       0
added                    0
metacritic            1544
suggestions_count        0
updated                  0
tags                   725
reviews_count            0
genres                1329
yet                      0
owned                    0
beaten                   0
toplay                   0
dropped                  0
playing                  0
dtype: int64

### 1. isnull() -> berfungsi untuk menampilkan kolom dengan nilai null

### 2. sum() -> Berfungsi untuk menghitung jumlah elemen dalam suatu rangkaian data

In [189]:
df[['metacritic']]= df[['metacritic']].fillna(df['metacritic'].mean())
df[['released']]= df[['released']].fillna(df['released'].mode()[0])
df[['tags']]= df[['tags']].fillna(df['tags'].mode()[0])
df[['genres']]= df[['genres']].fillna(df['genres'].mode()[0])

### fillna() -> Adalah metode dalam library Pandas yang digunakan untuk mengisi nilai-nilai yang hilang (NaN, Not-a-Number) dalam DataFrame atau Series dengan nilai tertentu

### mean() -> Digunakan untuk mengisi nilai-nilai yang hilang (NaN) dalam suatu kolom dalam DataFrame dengan nilai rata-rata dari kolom tersebut

### mode() -> Digunakan untuk mengisi nilai-nilai yang hilang (NaN) dalam suatu DataFrame dengan modus (mode) dari kolom tersebut

In [190]:
df.isnull().sum()

Unnamed: 0            0
slug                  0
playtime              0
released              0
rating                0
rating_top            0
ratings_count         0
reviews_text_count    0
added                 0
metacritic            0
suggestions_count     0
updated               0
tags                  0
reviews_count         0
genres                0
yet                   0
owned                 0
beaten                0
toplay                0
dropped               0
playing               0
dtype: int64

## 5. Melakukan Data Cleaning pada nilai duplikat

In [191]:
df2.duplicated().sum()

6

### Berfungsi untuk menampilkan data duplikat pada dataset

In [192]:
df2.drop_duplicates(inplace=True)
df2.duplicated().sum()

0

### drop_duplicates() -> Berfungsi untuk melakukan penghapusan nilai duplikat yang ada pada dataset

## 6. Mengganti tipe data salah satu attribute angka

In [193]:
df.dtypes

Unnamed: 0            float64
slug                   object
playtime              float64
released               object
rating                float64
rating_top            float64
ratings_count         float64
reviews_text_count    float64
added                 float64
metacritic            float64
suggestions_count     float64
updated                object
tags                   object
reviews_count         float64
genres                 object
yet                   float64
owned                 float64
beaten                float64
toplay                float64
dropped               float64
playing               float64
dtype: object

In [194]:
df['metacritic'] = df['metacritic'].astype('int64')
df['metacritic'].dtype

dtype('int64')

### astype -> Digunakan untuk mengubah tipe data (dtype) dari suatu Series atau kolom dalam DataFrame

## 7. Melakukan One-Hot-Encoding pada dataset yang kita punya

In [195]:
from sklearn.preprocessing import OneHotEncoder

### Digunakan untuk mengimpor fungsi OneHotEncoder dari library scikit-learn (sklearn) dalam bahasa pemrograman Python

In [196]:
ohe = OneHotEncoder(sparse_output=False)
Encoded = ohe.fit_transform(df2[['rating_top']])
Encoded

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       ...,
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.]])

### 1. Membuat variabl ohe untuk menyimpan fungsi OneHotEncoder dengan parameter sparse_output=False

### 2. Menggunakan fit_transform untuk melakukan one-hot encoding pada kolom 'rating_top'

In [197]:
hotEncoded = pd.DataFrame(Encoded, columns=['1','2','3','4','5'])

### Membuat DataFrame baru bernama hotEncoded dari hasil one-hot encoding yang disimpan dalam variabel Encoded, dan juga memberikan nama kolom baru '1', '2', '3', '4', dan '5' pada DataFrame hotEncoded

In [198]:
hotEncoded

        1    2    3    4    5
0     0.0  0.0  0.0  1.0  0.0
1     0.0  0.0  0.0  1.0  0.0
2     0.0  0.0  0.0  0.0  1.0
3     0.0  0.0  0.0  0.0  1.0
4     0.0  0.0  0.0  1.0  0.0
...   ...  ...  ...  ...  ...
1675  1.0  0.0  0.0  0.0  0.0
1676  1.0  0.0  0.0  0.0  0.0
1677  1.0  0.0  0.0  0.0  0.0
1678  1.0  0.0  0.0  0.0  0.0
1679  1.0  0.0  0.0  0.0  0.0

[1680 rows x 5 columns]